.btn {
  border: none;
  background: transparent;
  padding: 6px 16px;
  font-size: 1.1rem;
  color: white;
  background: rgb(0, 212, 212);
  border-radius: 5px;
  transition: 0.3s all ease-out;
  cursor: pointer;
}

.btn:hover {
  color: rgb(0, 212, 212);
  background: white;
}
